body {
    background: white;
    color: black;
}

.thought1 {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    font-size: 24px;
}
p { 
    font-family: 'Indie Flower', cursive;
}
.thought2 {
    font-size: 
}
.thought 3{
    line-height: 60px;    
}
