body {
    background: #777;
    text-align: center; 
    font-size: 24px;
}

.wrapper {
    width: 960px;
    padding: 20px;
    margin: auto;
}

header {
    background: white;
    margin-bottom: 20px;      
    padding: 30px;
}

nav {
    background: white;
    padding: 30px;  
    margin-bottom: 20px;
} 
section {
    padding: 30px;
    margin-bottom: 20px;
    float: left;
    width: 495px;
    height: 250px;
    background: white;   
}
article {
    background: #777;
    width: 465px;
    position: absolute;
    margin-left: 30px;
    margin-top: 60px;
    padding: 20px;
}
h1, p {
    width: 435px;
    background: white;
    margin-left: 20px;

}
aside {
    float: right;
    background: white;
    width: 325px;
    height: 250px;
    margin-bottom: 20px;   
    padding: 30px; 
}

footer {
    clear: both;
    background: white;
    padding: 20px; 
}


